/* eslint-disable vue/no-v-html */
/* eslint-disable vue/no-v-html */

<template>
  <v-app>
    <div id="main">
      <section class="home-container">
        <v-img
          id="home-img"
          :src="require('../assets/data-heart.jpg')"
          max-height="100vh"
        />
        <div id="project-meta">
          <span class="page-title">
            Data Colonialism
          </span>
          <span class="page-subtitle">
            Understanding Education as a target and tool of Data Colonialism
          </span>
          <span class="page-author">
            By Dillon Gidcumb
          </span>
        </div>
        <div class="img-author-container">
          <span class="img-author">
            <span>Photo by <a href="https://unsplash.com/@swimstaralex?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Sinn</a> on <a href="https://unsplash.com/s/photos/data?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span>
          </span>
        </div>
      </section>
      <section class="content-container --dark">
        <div id="content-introduction">
          <div class="content-text" v-html="intro" />
        </div>
        <div
          v-for="section in sections"
          :key="section.id"
        >
          <div class="content-section-title">
            <span>{{ section.title }}</span>
          </div>
          <v-img
            class="content-img"
            :src="section.img"
          />
          <span class="content-img-author">
            <span>{{ section.imgAuthor }}</span>
          </span>
          <div class="content-text" v-html="section.content" />
        </div>
      </section>
    </div>
  </v-app>
</template>

<script>
import intro from '../content/introduction.md'
import datafication from '../content/datafication.md'
import tools from '../content/tools.md'
import conclusion from '../content/conclusion.md'
import references from '../content/references.md'

export default {
  data: () => ({
    sections: [
      { title: 'Datafying Education', id: '#datafication', img: '', imgAuthor: '', content: datafication },
      { title: 'Colonial Tools', id: '#tools', img: '', imgAuthor: '', content: tools },
      { title: 'Conclusion', id: '#conclusion', img: '', imgAuthor: '', content: conclusion },
      { title: 'References', id: '#references', img: '', imgAuthor: '', content: references }
    ]
  }),

  computed: {
    intro() {
      return intro
    },

    datafication() {
      return datafication
    },

    tools() {
      return tools
    },

    conclusion() {
      return conclusion
    },

    references() {
      return references
    }
  }
}
</script>

<style>
@import '../css/main.css';
</style>
